@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 19px;
 /* min-height: 0;*/
}

#waybar {
  background: transparent;
  color: @text;
  padding: 0;
  margin: 0;
}

#workspaces {
  border-radius: 0.5rem;
  background-color: @surface0;
  margin-left: 0.5rem; /* left margin for first module */
}

#workspaces button {
  color: @lavender;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.5rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.5rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.25rem 1rem; /* reduced vertical padding */
  margin: 1px 0;
  border-radius: 0.5rem;
}

#clock {
  color: @blue;
  border-radius: 0px 0.5rem 0.5rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0.5rem 0px 0px 0.5rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 0.5rem;
}

#custom-lock {
    border-radius: 0.5rem 0px 0px 0.5rem;
    color: @lavender;
}

#custom-power {
    padding: 0.25rem 0.75rem; /* restored original ratio for centering */
    margin-right: 0.5rem; /* right margin for last module */
    border-radius: 0.5rem;
    color: @red;
    padding-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 0.5rem;
}

